<!-- PORTFOLIO SECTION -->
<article class="portfolio" data-page="portfolio">
  <header>
    <h2 class="h2 article-title">Portfolio</h2>
  </header>

  <section class="projects">
    <!-- Project List -->
    <ul class="project-list">
      <!-- Project Item -->
      <li class="project-item active" data-filter-item data-category="flutter development">
        <a href="https://play.google.com/store/apps/details?id=com.ipop.tracktide&hl=en" target="_blank"
          aria-label="View Track Tide project">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./src/assets/images/project-1.jpg" alt="Track Tide app - Flutter cross-platform mobile app"
              loading="lazy" />
          </figure>
          <h3 class="project-title">Track Tide</h3>
          <p class="project-category">Android/iOS</p>
        </a>
      </li>

      <!-- Project Item -->
      <li class="project-item active" data-filter-item data-category="flutter development">
        <a href="https://play.google.com/store/apps/details?id=com.lotus.digitalmedia&hl=en" target="_blank"
          aria-label="View Lotus Digital Media project">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./src/assets/images/project-2.webp" alt="Lotus Digital Media app - Flutter Android TV app"
              loading="lazy" />
          </figure>
          <h3 class="project-title">Lotus Digital Media</h3>
          <p class="project-category">Android TV</p>
        </a>
      </li>

      <!-- Project Item -->
      <li class="project-item active" data-filter-item data-category="flutter development">
        <a href="https://play.google.com/store/apps/details?id=com.aps.apssolarpump&hl=en" target="_blank"
          aria-label="View APS Solar Pump project">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="./src/assets/images/project-3.png" alt="APS Solar Pump app - Flutter Android app"
              loading="lazy" />
          </figure>
          <h3 class="project-title">APS Solar Pump</h3>
          <p class="project-category">Android App</p>
        </a>
      </li>
    </ul>
  </section>
</article>