<!-- SIDEBAR COMPONENT -->
<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="./src/assets/images/my-avatar.png" alt="Bir Mehto" width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" title="Bir Mehto">Bir Mehto</h1>
      <p class="title">Flutter developer</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <!-- Contact List -->
    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a href="mailto:birmehto@gmail.com" class="contact-link">birmehto@gmail.com</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Phone</p>
          <a href="tel:+917528940605" class="contact-link">+91 7528940605</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>Gujarat, India</address>
        </div>
      </li>
    </ul>

    <div class="separator"></div>

    <!-- Social Media Links -->
    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.linkedin.com/in/birmehto/" target="_blank" rel="noopener noreferrer"
          class="social-link" aria-label="LinkedIn Profile" title="LinkedIn">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://github.com/birmehto" target="_blank" rel="noopener noreferrer" class="social-link"
          aria-label="GitHub Profile" title="GitHub">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://wa.me/+917528940605" target="_blank" rel="noopener noreferrer" class="social-link"
          aria-label="WhatsApp Chat" title="WhatsApp">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>